body {
    background-color: #8f8989;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.music-player {
    background: rgb(243, 239, 239);
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(234, 232, 232, 0.2);
}


.disc {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 15px auto;
    overflow: hidden;
    border: 4px solid #0a66c2;
}

.disc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}



.song-name {
    font-weight: bold;
    margin: 10px 0;
}

audio {
    width: 100%;
    margin-top: 10px;
}
